<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.coderrrk.screwpilecalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScrewPileCalculator">
        <activity
            android:label="@string/used_literature_activity"
            android:name=".UsedLiteratureActivity"
            android:exported="false"/>
        <activity
            android:label="@string/support_view_activity"
            android:name=".SupportViewFrostHeavingActivity"
            android:exported="false"/>
        <activity
        android:label="@string/frost_heaving_activity"
        android:name=".FrostHeavingActivity"
        android:exported="false"/>
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>